* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo 2', Consolas, "Andale Mono WT", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", sans-serif;
    width: 100%;
}

nav {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: slategrey;

}

.none {
    text-decoration: none;
}

nav a {
    color: ivory;
}

nav a:visited {
    color: darkturquoise;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.freedom-img {
    width: 6%;
}

.freedom-icon {
    width: 60%;
}

.grid {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.freedom {
    display: flex;
    flex-direction: column;
    border: 2px double rgb(238, 174, 202);
    border-radius: 25%;
    align-items: center;
    justify-items: center;
    width: 50%;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.freedom-p {
    width: 5em;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0.6em;
    color: #000000;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #ff5959;
    outline: 0;
}

.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
    box-shadow: 0 0 40px 40px #ffffff inset;
}

.wrapper {
    min-height: calc(100vh - 70px);
}

.foot-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex {
    padding-left: 1em;
}

.social img {
    filter: invert(98%) sepia(1%) saturate(26%) hue-rotate(319deg) brightness(112%) contrast(87%);
}

footer {
    padding: 20px;
    left: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: darkblue;
    margin-top: 1em;
}

footer p {
    color: white;

}